<div class='card'>
  <div class='card-body'>
    <div class='row'>

      <div class='col-md-auto align-items-center' style='max-width: 700px'>
        <div class='pe-0 pe-md-4'>
          <small class='text-muted'>Film</small>
          <h1 class='mb-1 title mb-3 mt-3'>{{film?.title}}</h1>
          <p class='mb-3 description'>{{film?.description}}</p>

          <div fxLayout='column' class='description' fxLayoutGap='15px'>
            <div fxLayout='row' fxLayoutAlign='space-between end'>
              <mat-label fxFlex class='text-decoration-underline'>Director</mat-label>
              <span fxFlex>{{film?.director}}</span>
            </div>

            <div fxLayout='row' fxLayoutAlign='space-between stretch'>
              <mat-label fxFlex class='text-decoration-underline'>Budget</mat-label>
              <span fxFlex>{{film?.budget | number: '2.'}}$</span>
            </div>

            <div fxLayout='row' fxLayoutAlign='space-between stretch'>
              <mat-label fxFlex class='text-decoration-underline'>Fees</mat-label>
              <span fxFlex>{{film?.fees | number: '2.'}}$</span>
            </div>

            <div fxLayout='row' fxLayoutAlign='space-between stretch'>
              <mat-label fxFlex class='text-decoration-underline'>Release Date</mat-label>
              <span fxFlex>{{film?.releaseDate | date: 'dd.MM.YYYY'}}</span>
            </div>

            <div fxLayout='row' fxLayoutAlign='space-between stretch'>
              <mat-label fxFlex class='text-decoration-underline'>Country</mat-label>
              <span fxFlex>{{film?.country}}</span>
            </div>

            <div fxLayout='row' fxLayoutAlign='space-between stretch'>
              <mat-label fxFlex class='text-decoration-underline'>Genre</mat-label>
              <span fxFlex>{{getGenreName(film?.genre)}}</span>
            </div>
          </div>


        </div>
      </div>

      <div class='col-md d-flex text-center'>
        <iframe class='w-100 mb-5 my-md-3' width='800' height='450'
                [src]='trailerUrl()'>
        </iframe>
      </div>
    </div>
  </div>
</div>

<div class='card'>
  <div class='card-body'>
    <div fxLayout='column' fxLayoutGap='20px'>
      <small class='text-muted'>Film score</small>
      <div class='fa-lg' *ngIf='usersAvgScore'>
        Users average score <big class='text-primary'>{{usersAvgScore | number: '1.2-2'}}</big>
        ({{reviews?.reviews.length}} scores)
      </div>

      <div class='fa-lg' *ngIf='!usersAvgScore'>
        No scores for this film
      </div>
      <div fxLayoutGap='5px'>
        <button mat-icon-button color='primary' class='fa-3x' *ngFor='let ratingId of scoreArr;index as i'
                [id]="'star_'+i"
                (click)='onScoreClick(i+1)' [matTooltip]='ratingId' matTooltipPosition='above'>
          <mat-icon class='fa-2x'>
            {{showIcon(i)}}
          </mat-icon>
        </button>

      </div>
      <div class='fa-lg' *ngIf='currentUserScore'>
        You rated <span class='body-2'>{{currentUserScore}}</span> / <span class='body-2'>10</span>
      </div>
      <div class='fa-lg' *ngIf='!currentUserScore && hasLoggedIn'>
        Leave your score!
      </div>
      <div class='fa-lg' *ngIf='!hasLoggedIn'>
        Login to leave your score!
      </div>
    </div>
  </div>
</div>

<div class='card'>
  <div class='card-body'>
    <div fxLayout='column' fxLayoutGap='20px'>
      <small class='text-muted'>Film cast</small>
      <mat-nav-list>
        <mat-list-item *ngFor="let actor of cast">
          <a matListItemTitle [href]="'actor/' + actor.id" class='text-primary'>
            <div>
              <big style='font-size: 25px'>{{actor.roleName}} - {{actor.name}} {{actor.lastname}}</big> ({{actor.country}}, {{getAge(actor.birthday)}} y.o.)
            </div>
          </a>
          <button mat-icon-button matListItemMeta>
            <mat-icon>info</mat-icon>
          </button>
        </mat-list-item>
      </mat-nav-list>

      <div *ngIf='cast?.length === 0'>
        Sorry, no actors found :(
      </div>

    </div>
  </div>
</div>

<div class='card'>
  <div class='card-body'>
    <div fxLayout='column' fxLayoutGap='20px'>
      <div fxLayoutAlign='space-between stretch' fxLayout='row'>
        <small class='text-muted'>Film reviews</small>

        <button *ngIf='hasLoggedIn' id='create' mat-raised-button color='primary' type='button' (click)='addFilmReview()'>
          <div fxLayoutGap='10px' fxLayout='row' fxLayoutAlign='center center'>
          <i class='fa fa-plus mr-1'></i>
          <span>{{ this.reviews?.currentUserFilmReview ? 'Update review' : 'Add review' }}</span>
          </div>
        </button>

        <button *ngIf='!hasLoggedIn' mat-raised-button color='primary' type='button' (click)='login()'>
          <div fxLayoutGap='10px' fxLayout='row' fxLayoutAlign='center center'>
            <i class='fa fa-plus mr-1'></i>
            <span>Login to leave review</span>
          </div>
        </button>
      </div>

      <div fxLayout='row' fxLayoutGap='50px'>
        <div class='card w-50 border-1' *ngFor='let review of reviewsWithText()'>
          <div class='card-header bg-primary bg-opacity-50 text-dark text-lg-center' fxLayoutAlign='space-between stretch'>
            <div> <big class='text-primary'>{{review.username}}</big> rating is {{review.score}}</div>

            <div>{{review.creationTime | date: 'dd.MM.yyyy mm:hh'}} </div>
          </div>
          <div class='card-body bg-light text-dark' style='min-height: 200px'>
            {{review.review}}
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
